.dialog > *.content.label {
    -fx-font-size:20px;
    -fx-font-weight:bold;
}

.dialog > *.button-bar *.button {
    -fx-pref-width:120px;
}

.button{
    -fx-cursor:hand;
    -fx-background-radius: 50;
    -fx-background-color: linear-gradient(to bottom, #ffde00 0%, #efde6a 30%, #ffdd00 100%);
}

.dialog {
    -fx-background-color: linear-gradient(to bottom, #ff0000 0%, #ff4646 30%, #ff0000 100%);
}
