.color{

    -fx-background-color: linear-gradient(to bottom, #0022ff 0%, #5867f8 30%, #0023ff 100%);

}

.text-color {
-fx-text-fill: #ffffff;
-fx-font-weight: bold;
}

.orange-progress-bar {
    -fx-accent: orange;
}

.red-progress-bar {
-fx-accent: red;
}

